body {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  min-height: 100%;
  position: relative;
  background: $color-dark;
  color: $color-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-montserrat;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1300px;

  @include responsive(large) {
    padding: 0 50px;
  }

  @include responsive(medium) {
    padding: 0 30px;
  }

  @include responsive(tablet) {
    padding: 0 1rem;
  }
}
