.faq {
  margin-top: 150px;
  .heading {
    justify-content: center;
  }
  .accordion {
    max-width: 1000px;
    margin: auto;
  }
  .card {
    border: none;
    border-radius: 0;
    color: $color-dark;
    margin-block: 1rem;
  }

  .card-header {
    background: $color-light !important;
    padding-block: 0.5rem;
  }
  .card-body {
    font-family: $font-chakra;
  }
  .btn {
    background: none;
    border: none !important;
    border-radius: 0;
    justify-content: flex-start;
    text-decoration: none;
    color: #eee;
    font-family: $font-roboto;
    @include font-weight(regular);
    padding: 0;

    i {
      font-size: 0.8rem;
    }
  }
}
