.hero {
  margin-top: 100px;
  [class*="col-"] {
    min-height: 100vh;
    padding: 0;
    display: flex;
    align-items: center;
    &:last-child {
      //  padding: 0;
      // position: absolute;
      // right: 0;
    }
  }

  .para {
    margin-top: 2rem;
  }

  .count-down {
    margin-block: 4rem;

    .sub-heading {
      @include font-weight(medium);
    }
  }

  //   counter styles
  .counter {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-top: 1.25rem;

    span {
      font-size: 3rem;
      @include font-weight(bold);
      font-family: $font-chakra;

      display: block;
      padding: 10px 5px;
      display: grid;
      place-content: center;
      line-height: 100%;
    }
    :is(.days, .hour, .min, .sec) > div {
      display: flex;
      gap: 5px;

      span {
        width: 3rem;
        height: 5rem;
      }
    }
    :is(.days, .hour, .min) span {
      background: $color-blue;
    }
    :is(.sec) span {
      background: #f1f1f1;
      color: $color-dark;
    }
    p {
      text-align: center;
      font-family: $font-roboto;
      font-size: 0.9rem;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      margin-top: 5px;
    }
  }

  .btn.twitter {
    --color: #00acee;
  }

  // thumbz animation wrapper graphics div
  .thumb-card-wrapper {
    $card-count: 16;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .img-wrapper {
      opacity: 0;
      animation: animateImg 10s infinite;
      position: relative;
    }

    .thumb-card {
      position: relative;
      background: #080918;
      animation: animateCard 10s infinite step-end;
      @for $i from 1 to $card-count {
        &:nth-child(#{$i}) {
          animation-delay: (($i * random($limit: 100)) % $card-count) * 0.5s;

          .img-wrapper {
            animation-delay: (($i * random($limit: 100)) % $card-count) *
              random($limit: 5) +
              s;
          }
        }
      }
    }
    .thumb-card .img-wrapper {
      position: relative;
      pointer-events: none;
      transition: transform 1s ease;
    }
    .thumb-card img {
      pointer-events: auto;
    }
    .thumb-card .img-wrapper:hover {
      transform: scale(1.2);
      z-index: 1;
      box-shadow: 0 0 100px 0 #000;
    }
  }

  // hero image slider
  .hero-image-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-height: 600px;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 40%;
      background: linear-gradient(
        to bottom,
        $color-dark 30%,
        rgba($color-dark, 0) 100%
      );
      z-index: 100;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 40%;
      background: linear-gradient(
        to top,
        $color-dark 30%,
        rgba($color-dark, 0) 100%
      );
      z-index: 100;
    }

    .image-wrapper {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .image-wrapper:nth-child(odd) {
      animation: scroll-top 10s linear infinite alternate;
    }
    .image-wrapper:nth-child(even) {
      animation: scroll-down 10s linear infinite alternate;
    }
  }

  // responsive design
  @include responsive(large) {
    margin-top: 0px;
    [class*="col-"] {
      min-height: 80vh;
    }

    .heading {
      font-size: 4rem;
    }
    .para {
      font-size: 0.95rem;
      line-height: calc(0.95rem * 1.5rem);
    }

    .count-down {
      margin-block: 3rem;
      .sub-heading {
        font-size: 1.3rem;
      }
    }
    .counter {
      gap: 5px;

      :is(.days, .hour, .min, .sec) > div {
        display: flex;
        gap: 5px;

        span {
          width: 2.8rem;
          height: 4rem;
        }
      }

      p {
        font-size: 0.8rem;
        margin-top: 8px;
      }
    }
  }

  @include responsive(medium) {
    padding-block: 100px;
    .content {
      padding-right: 30px;
      width: 100%;
    }
    .row {
      align-items: center !important;
      margin: initial !important;
    }
    [class*="col-"] {
      min-height: initial;
    }

    .counter {
      span {
        font-size: 2rem;
      }
      :is(.days, .hour, .min, .sec) > div {
        span {
          width: 2rem;
          height: 3.5rem;
        }
      }
      p {
        font-size: 0.7rem;
      }
    }

    // thumbz cards
    .thumb-card-wrapper {
      $card-count: 16;
      $new-card-count: 9;

      grid-template-columns: repeat(3, 1fr);

      .thumb-card {
        @for $i from $new-card-count to $card-count {
          &:nth-child(#{$i}) {
            display: none !important;
          }
        }

        @for $i from 1 to $new-card-count {
          &:nth-child(#{$i}) {
            animation-delay: (($i * random($limit: 100)) % $new-card-count) *
              0.5s;

            .img-wrapper {
              animation-delay: (($i * random($limit: 100)) % $new-card-count) *
                random($limit: 5) +
                s;
            }
          }
        }
      }
    }
  }

  @include responsive(tablet) {
    padding-top: 90px !important;
    padding-block: 30px;
    .row {
      flex-direction: column-reverse;
    }
    .content {
      padding-top: 50px;
      padding-right: 0;
    }
    .counter {
      flex-wrap: wrap;
    }
    .hero-image-slider {
      max-height: 300px;
    }
  }
}

@keyframes animateCard {
  0% {
    background: #080918;
  }
  5% {
    background: #10183a;
  }
  35% {
    background: #10183a;
  }
  40% {
    background: #000;
  }
  70% {
    background: #000;
  }
  80% {
    background: #080918;
  }
  100% {
    background-color: #080918;
  }
}
@keyframes animateImg {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes scroll-top {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30%);
  }
}
@keyframes scroll-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(30%);
  }
}

// *********************************************
// About Us
// *********************************************
.about-us {
  --section-padding: 200px;
  padding-block: var(--section-padding);
  position: relative;

  .video-wrapper {
    border: 1px solid;
    height: 100%;
    position: relative;

    .thumbnail {
      background: $color-primary;
      width: 100%;
      height: 100%;
    }

    .play {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      display: block;
      width: 60px;
      height: 60px;
      border-radius: 50px;
      background: $linear-gradient;
      transition: background 0.35s linear;

      display: grid;
      place-content: center;

      font-size: 2rem;

      &:hover {
        background: $color-dark;
      }
    }

    &:hover .play {
      color: white;
      animation: bounce 1s ease-in-out infinite;
    }

    @keyframes bounce {
      from {
        transform: translate(-50%, -50%);
      }
      50% {
        transform: translate(-50%, -80%);
      }
      to {
        transform: translate(-50%, -50%);
      }
    }
  }

  .para {
    margin: 0;
    margin-top: 2rem;
    font-size: 1rem;

    &:last-child {
      margin-top: 1rem !important;
    }
  }
  // side text
  &::after {
    content: "About";
    position: absolute;
    top: 50%;
    left: 0;
    transform-origin: top;
    transform: rotate(90deg) translateY(50%);
    z-index: 1;

    font-family: $font-montserrat;
    font-size: 9vw;
    @include font-weight(extrabold);
    line-height: 100%;
    letter-spacing: -1vw;
    color: $color-dark;
    -webkit-text-stroke: 1px $color-primary;
  }

  // responsive
  @include responsive(large) {
    padding-top: 100px;
  }
  @include responsive(tablet) {
    --section-padding: 100px;

    &::after {
      display: none;
    }

    .video-wrapper {
      min-height: 50vw;
      margin-bottom: 50px;
    }

    .title {
      margin-top: 50px;
    }
  }
}

// *********************************************
// Minting
// *********************************************
.minting {
  --section-spacing: 100px;
  padding-block: var(--section-spacing);
  position: relative;

  .content {
    position: relative;
    z-index: 5;
  }

  .row {
    position: relative;
    align-items: center;
  }

  .minting-wrapper {
    background: $color-primary;
    border-radius: 10px;
    color: $color-dark;
    padding: 50px;
    margin-left: 120px;
  }

  .title {
    .heading span {
      text-shadow: none !important;
      -webkit-text-stroke: 1px $color-dark;
      color: $color-primary;

      &.i {
        position: relative;
        z-index: 1;
        color: $color-dark;
      }
    }
  }

  .key-points {
    font-family: $font-chakra;
    font-size: 1rem;
    line-height: 1.5rem;
    list-style-type: disc;
    margin-left: 1rem;

    li {
      margin-block: 5px;
    }
  }

  .transaction {
    margin-block: 50px;
  }

  // minting img
  .minting-img {
    position: relative;
    h1 {
      font-weight: 900 !important;
      text-transform: uppercase;
      letter-spacing: -3px;
      font-family: $font-poppins;
      font-size: 3.8rem;
      word-spacing: 1rem;
      position: absolute;
      top: 18%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
    img {
      margin-bottom: -12%;
    }
  }

  // &::after {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background: linear-gradient(
  //     to right,
  //     #fff 30%,
  //     rgba(255, 255, 255, 0) 100%
  //   );
  //   z-index: 2;
  // }

  // Transactions
  .transaction-form {
    .controls {
      display: flex;
      gap: 0.5rem;

      input {
        flex: 1;
        text-align: center;
        background: #f1f1f1;
        height: 60px;
        font-family: $font-chakra;
        font-weight: bold;
        font-size: 2rem;

        &:focus {
          outline: none;
          box-shadow: none;
          border: 1px solid $color-dark;
        }
      }

      .btn {
        min-width: initial;
        width: 60px;
        height: 60px;
        border-radius: 4px;
        border: 1px solid rgba($color: #080918, $alpha: 0.2) !important;
        background: $color-dark;
        color: $color-primary;
        i {
          font-size: 1.5rem;
        }
        &:focus {
          outline: none;
          box-shadow: none;
          border: 1px solid $color-dark;
        }

        &[disabled] {
          background: $color-primary;
          color: $color-dark;
          opacity: 0.5;
        }
      }
    }
  }

  .sale-ended {
    display: flex;
    align-items: center;

    .animation {
      width: 200px;
      margin-left: -30px;
    }
    .text {
      margin-left: -30px;
    }
    .para {
      margin: 0;
    }
  }

  // wallet connection
  .wallet-info {
    position: sticky;
    top: var(--section-spacing);
    right: 0;
    background: $color-dark;
    padding: 2rem;
    border-radius: 10px;
    color: $color-primary;

    h4 {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .icon {
        max-width: 30px;
      }

      font-weight: bold;
    }

    hr {
      background: white;
      opacity: 0.25;
    }

    p {
      font-size: 1rem;
      width: 100%;
      word-wrap: break-word;
    }
    p span {
      color: $color-blue;
      font-size: 2rem;
      font-family: $font-chakra;
      @include font-weight(extrabold);
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 4rem;
    height: 4rem;
    background: $color-dark;
    z-index: 3;
  }

  @include responsive(large) {
    .minting-wrapper {
      margin-left: 20px;
    }
    .minting-img {
      h1 {
        font-size: 3rem;
      }
    }
  }

  @media screen and (max-width: 1000px) {
    .row {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column-reverse;
      [class*="col-"] {
        width: 100vw !important;
        padding: 0;
      }
    }
    .minting-wrapper {
      margin-inline: 20px;
    }
    .minting-img {
      margin-bottom: 50px;
      h1 {
        font-size: 3.5rem;
      }
      img {
        margin-bottom: 0;
      }
    }
  }

  @include responsive(tablet) {
    .transaction-form {
      max-width: initial;
    }
    .minting-img {
      margin-bottom: 20px;
      h1 {
        word-spacing: 0.5rem;
        font-size: 3rem;
      }
    }
    .minting-wrapper {
      margin-inline: 1rem;
      padding: 30px;
      padding-bottom: 20px;
    }

    &::after {
      background: rgba($color: #fff, $alpha: 0.5);
    }
  }
  @include responsive(mobile) {
    margin-top: 0 !important;

    .minting-img {
      h1 {
        font-size: 2rem;
        top: 10%;
      }
    }
  }
}

// *********************************************
// Community
// *********************************************
.community {
  --section-spacing: 150px;
  padding-block: var(--section-spacing);
  position: relative;

  [class*="col-"] {
    position: relative;
    padding: 0;
  }

  .floating {
    .floating-heading {
      position: sticky;
      top: 10%;
      padding: 0.25rem;
    }
    background: rgba($color: white, $alpha: 0.2);
  }

  .illustration-img {
    position: sticky !important;
    top: 50%;
  }

  .discord,
  .newsletter {
    min-height: initial;
  }

  .discord {
    .para {
      margin-block: 1rem;
    }
    .btn {
      min-width: 200px;
      width: fit-content;
      margin-top: 2rem;
    }
  }

  .newsletter {
    margin-top: var(--section-spacing);

    .para {
      margin-block: 1rem;
    }
    .subscribe {
      position: relative;
      background: $color-primary;
      height: 60px;
      border-radius: 5px;
      margin-top: 2rem;

      input {
        width: 100%;
        height: 100%;
        border: none;
        background: none;
        padding: 0 calc(150px + 1rem) 0 1rem;

        &:hover,
        &:focus {
          box-shadow: none;
          outline: none;
        }

        font-weight: bold;
        font-family: $font-roboto;

        &::placeholder {
          font-weight: normal;
        }
      }

      .btn {
        position: absolute;
        top: 50%;
        right: 0.5rem;
        transform: translateY(-50%);
        z-index: 1;
        height: calc(60px - 1rem);

        &::after {
          display: none;
        }
      }
    }
  }

  .community-img {
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
    width: 70%;
  }

  @include responsive(tablet) {
    --section-spacing: 100px;

    .floating,
    .illustration {
      display: none;
    }

    [class*="col-"] {
      padding: initial !important;
    }
    .row {
      margin: 0 0;
    }

    .heading span {
      font-size: 3rem;
    }
  }
}

// *********************************************
// Roadmap
// *********************************************
.roadmap {
  margin-bottom: 50vh;
  .title {
    .heading {
      justify-content: center;
    }
    margin-block: 100px;
  }
  .row {
    justify-content: center;
  }
  [class*="col-"] {
    // border: 1px solid;
    padding: 2rem 1rem 0.5rem 1rem;
    position: relative;

    &.four {
      order: 5;
      margin-top: -25%;
      transform: translateY(50%);
    }
    &.five {
      margin-top: -25%;
      transform: translateY(50%);
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 3rem;
      height: 3rem;
      background: $color-primary;
      border-radius: 100%;
    }

    &.four::after {
      top: 50%;
      left: 100%;
    }
    &.five::after {
      top: 50%;
      left: 0%;
    }
    &::before {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 2.5rem;
      height: 2.5rem;
      background: $color-dark;
      border-radius: 100%;
      z-index: 1;

      display: grid;
      place-content: center;
      font-family: $font-chakra;
      font-weight: bold;
      font-size: 1.25rem;
    }

    &.one::before {
      content: "1";
    }
    &.two::before {
      content: "2";
    }
    &.three::before {
      content: "3";
    }
    &.four::before {
      content: "4";
      top: 50%;
      left: 100%;
    }
    &.five::before {
      content: "5";
      top: 50%;
      left: 0%;
    }
  }
  .roadmap-wrapper {
    min-height: 60vh;
    width: calc(100% - 40vh);
    padding-left: 50px;
    border-top: 5px solid $color-primary;
    border-bottom: 5px solid $color-primary;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: -5px;
      left: calc(100% - 1vh);
      width: 40vh;
      height: calc(100% + 10px);
      border: 5px solid $color-primary;
      border-left: 0;
      border-radius: 0 100vh 100vh 0;
    }
  }

  .card {
    background: #222259;
    min-height: 40vh;
    height: 100%;
    padding: 1rem;
    border-radius: 10px;

    .card-heading {
      display: flex;
      align-items: center;
      gap: 1rem;

      img {
        width: 100px;
        border-radius: 5px;
        box-shadow: 0 10px 50px 0 rgba($color: $color-blue, $alpha: 0.6);
        border: 2px solid $color-primary;
        border-top: 5px solid $color-primary;
      }

      h3 {
        @include font-weight(bold);
        font-size: 1.5rem;
        margin-top: -2rem;
        text-transform: capitalize;
        text-shadow: 0 2rem rgba($color-blue, 0.5);
      }
    }
    ul {
      list-style-type: square;
      padding-top: 1rem;
      padding-left: 1rem;
      font-family: $font-roboto;
      opacity: 0.9;
      font-size: 1rem;
      line-height: 1.2rem;

      li {
        margin-block: 1rem;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      transform-origin: center;
      transform: translate(-50%, -50%) scale(0);
      box-shadow: 0 0 50px 10px rgba($color: white, $alpha: 0.2);
      z-index: -1;
      transition: transform 0.35s ease;
      border-radius: 10px;
    }
    &:hover {
      animation: card-hover 1s ease;
    }
    &:hover::after {
      transform: translate(-50%, -50%) scale(1);
    }

    // hover animatin
    @keyframes card-hover {
      from {
        transform: translateY(0);
      }
      50% {
        transform: translateY(2rem);
      }
      to {
        transform: translateY(0);
      }
    }
  }

  // responsive
  @include responsive(large) {
    [class*="col-"] {
      padding: 2rem 0.5rem;

      &.four,
      &.five {
        margin-top: -37%;
      }
    }
    .roadmap-wrapper {
      width: calc(100% - 20vh);
      padding-left: 20px;

      &::after {
        width: 20vh;
      }
    }

    .card {
      .card-heading {
        gap: 0.5rem;
        img {
          width: 80px;
        }
        h3 {
          font-size: 1.3rem;
          margin-top: -1.5rem;
          text-shadow: 0 1.5rem rgba($color-blue, 0.5);
        }
      }
    }
  }

  @include responsive(medium) {
    .container-fluid {
      padding: 0;
    }
    .roadmap-wrapper {
      width: 100%;
      margin: auto;
      padding: 0 20px;

      &::after {
        display: none;
      }
    }

    [class*="col-"] {
      &.four,
      &.five {
        margin-top: -40%;
      }
    }
  }

  @include responsive(tablet) {
    margin-bottom: 10vh;

    .roadmap-wrapper {
      border: none !important;
    }

    .container-fluid {
      padding: 0 1rem;
      padding-left: calc(1rem + 1.1rem);
    }

    [class*="col-"] {
      border: none;
      border-left: 2px solid $color-blue;
      padding: 1rem 2rem 3rem 2rem;
      &.four {
        margin-top: initial;
        transform: initial;
        order: initial;
      }
      &.five {
        margin-top: initial;
        transform: initial;
      }

      &::after {
        top: 0;
        left: 0%;
        z-index: 1;
        width: 2.6rem;
        height: 2.6rem;
      }

      &.four::after {
        top: 0;
        left: 0;
      }
      &.five::after {
        top: 0;
        left: 0%;
      }
      &::before {
        top: 0;
        left: 0;
        z-index: 2;
      }
      &.four::before {
        top: 0%;
        left: 0%;
      }
      &.five::before {
        content: "5";
        top: 0%;
        left: 0%;
      }

      &:last-child {
        padding-bottom: 0;
      }
    }

    .card:hover {
      animation: none;

      &::after {
        display: none;
      }
    }
  }

  @include responsive(mobile) {
    .container-fluid {
      padding-left: 1rem;
    }
    .row {
      padding-right: 0;
    }
    [class*="col-"] {
      padding: 2rem 0 4rem 1rem;
    }

    .card {
      .card-heading {
        gap: 1rem;
      }
    }
  }
}

// new roadmap
.roadmap-new {
  margin-bottom: 20vh;
  .title {
    .heading {
      justify-content: center;
    }
    margin-block: 100px;
  }
  .row {
    justify-content: space-between !important;
    align-items: flex-end;
  }
  .stage-wrapper {
    padding-inline: 2rem;

    &.stage-4 {
      padding-inline: 0.25rem;
    }
  }
  .road {
    margin-top: -1.8rem;
  }

  // card
  .card {
    --pin-size: 80px;
    animation: bounce 2s ease-in-out infinite;

    --card-color: #{$color-blue};
    left: 50%;
    top: -3rem;
    transform: translate(-50%, -50%);

    width: var(--pin-size);
    height: calc(var(--pin-size) + 10px);
    border-radius: var(--pin-size);
    padding: 8px;
    position: relative;
    background: var(--card-color);
    position: absolute;
    @include z-index(popup);

    &::after {
      @include pseudo;
      @include arrow(
        $size: calc(var(--pin-size) / 2.15),
        $color: var(--card-color)
      );
      top: 50%;
      left: 50%;
      transform: translate(-50.5%, 55%);
      border-radius: 100px;
      @include z-index(pseudoBefore);
    }

    &__thumb-image {
      background: white;
      border-radius: 100%;
      padding: 5px;
      width: 100%;
    }

    .para {
      font-family: $font-roboto;
      font-size: 1rem;
      font-weight: normal;
    }

    .content {
      width: calc(100% - 12px);
      height: calc(100% - 10px);
      transition: width 0.35s ease, height 0.35s ease;
      overflow: hidden;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      &__text {
        width: calc(400px - 3rem);
        visibility: hidden;
        opacity: 0;
        transition: $transition;
        transition-delay: 0.35s;

        .para {
          margin: 0;
        }
      }

      &__title {
        text-align: center;
        color: var(--card-color);
        font-weight: bold;

        & + .para {
          text-align: center;
          margin: 0;
        }
      }

      &__button {
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translate(-50%, -50%);
        background: var(--card-color);
        width: 80%;
        padding: 0.5rem;
        color: white;
        text-align: center;
        cursor: pointer;

        &:hover {
          box-shadow: 0 10px 20px 0 rgba($color: #000000, $alpha: 0.2);
        }
      }

      .perks {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        margin-top: 1rem;

        &__item {
          display: flex;
          gap: 0.5rem;
          font-size: 0.9rem;
          letter-spacing: 0.5px;
          color: $dark;

          i {
            color: var(--card-color);
          }
        }
      }
    }

    &:hover {
      background: transparent;
      animation: none;

      &::after {
        border-color: transparent;
      }

      .content {
        width: 400px;
        height: auto;
        background: white;
        padding: 40px 1.5rem 5vh;
        overflow: visible;
        border: 2px solid var(--card-color);

        &__text {
          visibility: visible;
          opacity: 1;
        }

        .card__thumb-image {
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 40%;
          max-width: 120px;
          padding: 5%;
          border: none;
          border-top: 1px solid var(--card-color);
          background: linear-gradient(to bottom, #fff 50%, rgba(#fff, 0));
        }
      }
    }
  }

  @include responsive(large) {
    .card {
      .content {
        &__text {
          width: calc(350px - 3rem);
        }

        .perks {
          gap: 0.5rem;

          &__item {
            font-size: 0.8rem;
          }
        }
      }

      &:hover {
        .content {
          width: 350px;
        }
      }
    }
  }

  @include responsive(medium) {
    .card {
      width: calc(50% - 10px);
      height: initial;
      position: initial;
      transform: initial;
      border-radius: 0;
      margin: 0;
      padding: 0;
      animation: none;
      background: transparent;

      &::after {
        border-color: transparent;
      }

      .content {
        height: 100% !important;
        width: 100%;
        height: max-content;
        position: relative;
        left: 0;
        top: 0;
        transform: initial;
        height: auto;
        background: white;
        padding: 40px 1.5rem 5vh;
        overflow: visible;
        border: 1px solid var(--card-color);

        &__text {
          width: 100%;
          visibility: visible;
          opacity: 1;
        }

        .card__thumb-image {
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 40%;
          max-width: 120px;
          padding: 5%;
          border: none;
          border-top: 1px solid var(--card-color);
          background: linear-gradient(to bottom, #fff 50%, rgba(#fff, 0));
        }
      }

      &:hover {
        .content {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  @include responsive(tablet) {
    margin-bottom: 10vh;

    .stage-wrapper {
      display: flex;
      align-items: flex-end;
      flex-direction: row-reverse;
      gap: 1rem;
      margin-block: 2rem;
      padding-inline: 0.5rem 1rem !important;

      .stage-img {
        max-width: 80px;
      }
    }
    .road {
      display: none;
    }
    .card {
      width: 100%;
      margin: 0;
      z-index: initial !important;
      top: initial;

      .content {
        padding: 40px 1rem 3rem 1rem;

        .card__thumb-image {
          width: 100px;
        }

        &:hover {
          padding: 40px 1rem 3rem 1rem;

          .card__thumb-image {
            width: 100px;
          }
        }
      }
    }
  }
}

// roadmap revised
.roadmap-revised {
  margin-bottom: 20vh;

  .container {
    position: relative;
  }

  img {
    user-select: none;
  }

  .title {
    .heading {
      justify-content: center;
    }
    margin-top: 100px 50px;
  }
  .row {
    justify-content: space-between !important;
    align-items: flex-end;
  }

  // styling cards
  .stage-wrapper {
    position: relative;

    &:nth-child(odd) {
      transform: translateY(20%);
    }
    &:nth-child(even) {
      transform: translateY(-30%);
    }

    .card {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      padding: 2rem 1rem;
      width: 100%;
      overflow: hidden;
      opacity: 0;
      visibility: visible;
      transition: 0.35s ease;

      background: rgba($color: $color-light, $alpha: 0.8);
      border-radius: 5px;
      border: 1px solid rgba($color: white, $alpha: 0.2);
      box-shadow: 0 0 40px 0 rgba($color: white, $alpha: 0.1);
    }

    &:hover .card {
      width: 300px;
      opacity: 1;
      visibility: visible;
    }

    .card .content {
      &__title {
        text-align: center;
        font-weight: bold;
      }

      .perks {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 0;
        margin-top: 1rem;

        &__item,
        .para {
          display: flex;
          gap: 0.5rem;
          font-size: 0.95rem;
          margin: 0;
        }
      }
    }

    // pseudo elements
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background: rgba($color: white, $alpha: 0.8);
      animation: scale-up 1s linear infinite alternate;
      animation-delay: 0.2s;
      transition: 0.35s ease;
    }
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background: rgba($color: white, $alpha: 0.5);
      animation: scale-up 1.5s linear infinite alternate-reverse;
      transition: 0.35s ease;
    }

    &:hover::before,
    &:hover::after {
      opacity: 0;
    }

    @keyframes scale-up {
      from {
        transform: translate(-50%, -50%) scale(0.25);
      }
      to {
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }

  .road {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 30%) rotate(3deg);
    z-index: -1;

    width: 90%;
    height: auto;
  }

  @include responsive(medium) {
    .stage-wrapper:first-child {
      .card {
        left: 100%;
      }
    }
    .stage-wrapper:last-child {
      .card {
        left: 0;
      }
    }
  }

  @include responsive(tablet) {
    .stage-wrapper {
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-end;
      margin-block: 1rem;

      &:nth-child(odd) {
        transform: initial;
      }
      &:nth-child(even) {
        transform: initial;
      }

      img {
        max-width: 120px;
        height: fit-content;
      }

      &::before,
      &::after {
        display: none;
      }

      .card {
        position: relative;
        transform: initial;
        width: 100%;
        opacity: 1;
        visibility: visible;

        left: 0 !important;
        right: initial;
      }

      &:hover .card {
        width: initial;
      }
    }

    .road {
      display: none;
    }
  }

  @include responsive(mobile) {
    .stage-wrapper {
      img {
        max-width: 100px;
      }
    }
  }
}

// *********************************************
// Team
// *********************************************
.team {
  text-align: center;
  padding-block: 50px 100px;

  .heading {
    justify-content: center;
  }
  .wrapper {
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    color: $color-dark;
    margin-top: 80px;
    margin: 80px auto 0 auto;

    .card {
      border-radius: 10px;
      padding: 0;
      border: none;
      overflow: hidden;
      width: 250px;

      clip-path: polygon(
        0 0,
        80% 0,
        80% 5rem,
        calc(80% + 0.5rem) 5rem,
        calc(80% + 0.5rem) 0%,
        calc(80% + 1rem) 0%,
        calc(80% + 1rem) 5rem,
        calc(80% + 1.5rem) 5rem,
        calc(80% + 1.5rem) 0%,
        100% 0,
        100% 100%,
        0 100%
      );

      h3 {
        font-family: $font-roboto;
        font-size: 1.2rem;
        margin: 0;
        margin-top: 1rem;
      }
      p {
        font-family: $font-chakra;
        font-size: 1rem;
        margin: 0;
        margin-bottom: 1rem;
      }

      &:hover {
        animation: bounce1 0.5s infinite ease alternate;
      }
    }
  }

  @keyframes bounce1 {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-1rem);
    }
  }

  @include responsive(medium) {
    .wrapper {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @include responsive(tablet) {
    .wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;

      .card {
        width: initial;
      }

      .card:hover {
        animation: none;
      }
    }
  }

  @include responsive(mobile) {
    padding-top: 50px;
    .wrapper {
      gap: 1rem;
      margin-top: 50px;

      .card {
        border-radius: 5px;

        clip-path: polygon(
          0 0,
          80% 0,
          80% 3rem,
          calc(80% + 0.5rem) 3rem,
          calc(80% + 0.5rem) 0%,
          calc(80% + 1rem) 0%,
          calc(80% + 1rem) 3rem,
          calc(80% + 1.5rem) 3rem,
          calc(80% + 1.5rem) 0%,
          100% 0,
          100% 100%,
          0 100%
        );

        h3 {
          font-size: 1rem;
        }
        p {
          font-size: 0.8rem;
        }
      }
    }

    .heading span {
      font-size: 3.5rem;
    }
  }
}
