.buy-now {
  margin-block: 200px 100px;

  .title {
    margin-block: 2rem;
  }

  //   styling timeline
  .timeline {
    position: relative;
    margin-left: 1.5rem;

    .timeframe {
      position: relative;
      padding: 3rem 2.5rem;
      border-left: 2px solid $color-blue;

      &::after {
        position: absolute;
        width: 3rem;
        height: 3rem;
        top: 0;
        left: 0;
        transform: translateX(-50%);
        background: $color-blue;
        border-radius: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.25rem;
        font-family: $font-chakra;
        font-weight: bold;
      }

      &.one::after {
        content: "1";
      }
      &.two::after {
        content: "2";
      }
      &.three::after {
        content: "3";
      }
      &.four::after {
        content: "4";
      }
    }

    .keypoints {
      margin: 1rem;
      margin-bottom: 0;
      li {
        font-family: $font-chakra;
        margin-block: 0.25rem;
      }

      a {
        color: $color-blue;
      }
    }
  }

  @include responsive(tablet) {
    margin-top: 100px;

    .timeline {
      .timeframe {
        padding-block: 2rem;
        padding-right: 0;
        padding-left: 2rem;
      }
    }
  }
}
