// *******************************
// * Styling Hero Section
// *******************************
.inventory-hero {
  margin-top: 0;
  min-height: 110vh;
  position: relative;

  border-radius: 50% / 50%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  overflow: hidden;

  box-shadow: 0px 4px 0px #000000, 0px 100px 200px #000000;

  display: grid;
  place-content: center;
  text-align: center;

  .heading {
    justify-content: center;
  }
  .para {
    margin-block: 2rem 3rem;
  }
  .button-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  #particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  //   responsive
  @include responsive(large) {
    min-height: 100vh;
    border-radius: 50% / 30%;
  }

  @include responsive(tablet) {
    border-radius: 50% / 20%;
    box-shadow: 0px 4px 0px #000000, 0px 100px 100px rgba(0, 0, 0, 0.5);
  }

  @include responsive(mobile) {
    min-height: 90vh;
  }
}

// *******************************
// * Inventory SECTIOn
// *******************************
.inventory {
  margin-bottom: 100px;

  .slider-wrapper {
    position: relative;

    .slider-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 105%;
      transform: translate(-50%, -50%);
      pointer-events: none;
      display: flex;
      justify-content: space-between;

      .btn {
        min-width: initial;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        background: white;
        pointer-events: initial;

        &::after {
          display: none;
        }
      }
    }
  }

  .card {
    position: relative;
    border: 1px solid $color-blue;
    border-radius: 0;
    background: $color-dark;
    text-align: center;
    margin: 0 0.5rem;

    p {
      margin-block: 1rem;
      font-family: $font-chakra;
      @include font-weight(medium);
    }

    // rarity seperator
    &.rare {
      position: relative !important;
      box-shadow: 0 0 50px 0 rgba($color: gold, $alpha: 0.1);
      &::after {
        content: "Rare";
        position: absolute;
        top: 0;
        right: 0;
        width: fit-content;
        background: gold;
        color: $color-dark;
        text-transform: uppercase;
        @include font-weight(bold);
        font-family: $font-roboto;
        padding: 5px 10px;
        z-index: 10;
      }
    }

    &.premium {
      position: relative !important;
      &::after {
        content: "100";
        position: absolute;
        top: 0;
        right: 0;
        width: fit-content;
        background: red;
        text-transform: uppercase;
        @include font-weight(bold);
        font-family: $font-roboto;
        padding: 5px 10px;
        z-index: 10;
      }
    }
    &.basic {
      position: relative !important;
      &::after {
        content: "1000";
        position: absolute;
        top: 0;
        right: 0;
        width: fit-content;
        background: lawngreen;
        text-transform: uppercase;
        @include font-weight(bold);
        color: $color-dark;
        font-family: $font-roboto;
        padding: 5px 10px;
        z-index: 10;
      }
    }
  }

  h3.sub-heading {
    font-family: $font-roboto;
    font-size: 1.15rem;
    white-space: nowrap;
    .line {
      width: 100%;
      height: 1px;
      background: $color-blue;
      opacity: 0.5;
    }
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-block: 2rem;
  }

  .button-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-block: 100px 80px;
    position: relative;
    z-index: 1;

    .button {
      min-width: 100px;
      padding: 10px;
      background: $color-dark;
      border: 1px solid $color-blue;
      color: $color-primary;
      outline: none;
      text-transform: capitalize;

      &.is-checked {
        background: $color-blue;
      }
    }
  }

  //   responsive
  @include responsive(medium) {
  }

  @include responsive(tablet) {
    .button-group {
      gap: 0.5rem;
    }

    .slider-wrapper {
      .slider-btn {
        .btn {
          width: 40px;
          height: 40px;
        }
      }
    }

    .card::after {
      font-size: 0.8rem !important;
    }
  }

  @include responsive(mobile) {
    .button-group .button {
      min-width: initial;
    }
  }
}
