<footer>
   <div class="container">
      <div class="row">
         <div class="col-lg-5 col-md-5 col-12">
            <h3 class="">About <br> MetaThumbz</h3>
            <p class="para">
               Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus velit doloribus perferendis
               obcaecati quasi facere? Quia laboriosam ea optio doloremque.
            </p>

            <ul class="social">
               <a href="#"><i class="bi bi-discord"></i></a>
               <a href="https://instagram.com/metathumbz" target="_BLANK"><i class="bi bi-instagram"></i></a>
               <a href="https://twitter.com/MetaThumbz" target="_BLANK"><i class="bi bi-twitter"></i></a>
            </ul>
         </div>
         <div class="col-lg-5 col-md-5 col-12 offset-lg-2 offset-md-2">
            <ul class="link-wrapper">
               <li><a href="/"><i class="bi bi-chevron-double-right"></i> Home</a></li>
               <li><a href="/#roadmap"><i class="bi bi-chevron-double-right"></i> View Roadmap</a></li>
               <li><a href="./inventory"><i class="bi bi-chevron-double-right"></i> Our NFTs</a></li>
               <li><a href="./rarity"><i class="bi bi-chevron-double-right"></i> Rarity Checker</a></li>
               <li><a href="./download"><i class="bi bi-chevron-double-right"></i> Download your NFTs</a>
               </li>
               <li><a href="./how-to-buy"><i class="bi bi-chevron-double-right"></i> How to buy Guide</a>
               </li>
               <li><a href="./faq"><i class="bi bi-chevron-double-right"></i> FAQs</a></li>
            </ul>
         </div>
      </div>
   </div>
   <div class="credits">
      <div class="container">
         <p class="para">&copy; 2021 | Meta Thumbz</p>
         <p class="para">Designed & Developed by <a href="https://www.websitevikreta.com" target="_BLANK">Website
               Vikreta</a></p>
      </div>
   </div>
</footer>