.navbar {
  background: $color-dark !important;
  padding-block: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: top 1s ease-in-out;
  border-bottom: 1px solid $color-blue;

  //   nav logo
  .navbar-brand {
    padding: 0;
    width: 50px;
    height: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.5s ease, height 0.5s ease;

    &::after {
      content: "";
      position: absolute;
      top: calc(80% - 0.05rem);
      left: 50%;
      width: 100%;
      height: 50%;
      transform: translate(-50%, -50%) scale(0);
      border-radius: 0 0 150px 150px;
      border: 1px solid $color-blue;
      border-top: 0;
      background: $color-dark;
      z-index: -1;
      transition: 0.5s ease;
    }
  }

  //   nav items
  .navbar-nav {
    padding-left: calc(0 + 1rem);
    .nav-item {
      margin: 0 0.5rem;
      padding-top: 0.8rem;
      padding-bottom: calc(0.8rem - 4px);
      a,
      &.active a {
        color: $color-primary;
      }
      font-family: $font-roboto;
      font-size: 1rem;
      @include font-weight(regular);

      &.active {
        border-bottom: 4px solid $color-blue;
      }

      &:hover a {
        color: $color-blue !important;
      }
    }
  }

  //   social liks
  .navbar-text {
    display: flex;
    gap: 1.5rem;
    a {
      color: $color-primary !important;
      font-size: 1.1rem;
    }

    a:hover {
      color: $color-blue !important;
    }
  }

  // stick to top
  &.stick-to-top {
    .navbar-brand {
      position: absolute;
      top: -1rem;
      padding: 1rem;
      padding-bottom: 0.5rem;
      width: 150px;
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;

      &::after {
        content: "";
        position: absolute;
        top: calc(80% - 0.05rem);
        left: 50%;
        width: 100%;
        height: 50%;
        transform: translate(-50%, -50%);
        border-radius: 0 0 150px 150px;
        border: 1px solid $color-blue;
        border-top: 0;
        background: $color-dark;
        z-index: -1;
      }

      .nav-img {
        margin-left: 0.5rem;
        margin-right: -0.25rem;
      }
    }

    .navbar-nav {
      padding-left: calc(150px + 1rem);
    }
  }

  @include responsive(large) {
    .container {
      padding: 0 20px !important;
    }
  }

  @include responsive(medium) {
    .container {
      padding: 0 10px !important;
    }
    .navbar-brand {
      all: initial !important;
      width: 70px !important;
      height: 70px !important;
      display: flex !important;
      align-items: center !important;

      &::after {
        display: none;
      }

      img {
        margin: 0 !important;
      }
    }

    .navbar-nav {
      padding-left: 0 !important;
      padding-top: 1rem !important;

      .nav-item.active {
        border-bottom: none !important;
        a {
          color: $color-blue !important;
        }
      }
    }
    .navbar-text {
      padding-block: 2rem;
      justify-content: center;
    }
  }

  @include responsive(mobile) {
    .container {
      padding: 0 0 !important;
    }
  }
}
